body {
  background-color: grey;
  padding: 0 20px;
}

.menu {
  color: wheat;   
}

.menu_all {
  list-style: none; 
}

.menu_all img {
  margin: 0 auto;
}

.menu_all a {
  padding: 20px;
  display: inline-block;
  font-size: 50px;
  text-decoration: none
}

img {
  width: 50px;
  height: 50px;
  margin: 20px;
}

.menu-wrap {
  float: right;
  position: fixed;
  background: white;
  width: 500px;
  padding: 50px 20px 20px;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100%); 
  transition: all 0.9s;     
}
  
#opener:checked ~ .menu-wrap {
  transform: translateX(0);
}

#opener {
  position: absolute;
  opacity: 0;
}

.opener {
  margin: 25px;
  position: relative;
  float: right;
  color: yellow;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: blue;
  display: block;
  z-index: 1;
  font-size: 0;
  cursor: pointer;
}

.opener:before, .opener:after, .opener span {
  position: absolute;
  content: '';
  width: 18px;
  height: 2px;
  background: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.75s;
}

.opener:before {
  top: 35%;
}

.opener:after {
  top: 65%;
}

#opener:checked + .opener span {
  width: 0;
}

#opener:checked + .opener:before {
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
}

#opener:checked + .opener:after {
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
}

button {
  background: red;
  width: 100px;
  height: 50px;
  border: 6px solid red;
  border-radius: 99px;
  box-shadow: 3px 4px 18px rgba(66, 31, 90, 0.842);
  cursor: pointer;
}

button:hover {
  background: blue;
  color: yellow;
  box-shadow: 3px 4px 18px rgba(117, 198, 11, 0.842);
}

.btn {
  padding: 13px 60px;
}

.content {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  overflow: auto;
  transition: all 0.9s;
  padding-right: 500px;
  text-align: center;
  padding-top: 300px;
}

#opener:checked ~ .content, #opener:checked ~ .opener  {
  transform: translateX(-500px);
  transition: all 2s;
}

a:hover {
  color: yellow;
}

